node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
.env
.env*.local
.vercel
*.tsbuildinfo
coverage
.DS_Store
*.pem
.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose*.yml
cypress
broken-tests
services/postgres/db_data
