# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.
DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=techstories"

NEXTAUTH_SECRET="secret"
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_DD_SERVICE_NAME="techstories"
NEXT_PUBLIC_DD_ENV="development"
NEXT_PUBLIC_DD_VERSION="1.0.0"
NEXT_PUBLIC_DD_SITE="datadoghq.com"
NEXT_PUBLIC_DD_CLIENT_TOKEN=""
NEXT_PUBLIC_DD_RUM_APPLICATION_ID=""
